/ProjectLuasBangunKompleks/nbproject/private/
/ProjectLuasBangunKompleks_Project2/nbproject/private/
/ProjectLuasBangunKompleks_Project1/nbproject/private/
/ProjectLuasBangunKompleks_Project1/build/
/ProjectLuasBangunKompleks_Project2/build/
/LKPD_03/ProjectLuasBangunKompleks_Project1/build/
/LKPD_03/ProjectLuasBangunKompleks_Project1/nbproject/private/
/LKPD 04/ProjectAdvancedOperasi/nbproject/private/
/LKPD_04/ProjectAdvancedOperasi/build/
/LKPD_04/ProjectBangunDatar2/nbproject/private/
/DegDeganApp/nbproject/private/
/DegDeganApp/build/
/PythagorasProject/nbproject/private/
/PythagorasProject/build/
/GameTebakAngkaProject/nbproject/private/
/GameTebakAngkaProject/build/
/ProjectRerata/nbproject/private/
/ProjectRerata/build/
/SimpleArrayList/nbproject/private/
/SimpleArrayList/build/
/LKPD_11/ProjectRerata/nbproject/private/
/LKPD_11/SimpleArrayList/nbproject/private/
/LKPD_12/RentalConsole/nbproject/private/
/LKPD_12/RentalConsole/build/
/LKPD_11/ProjectRerata/build/
/LKPD_14/ProjectBangun/nbproject/private/
/LKPD_14/ProjectBangun/build/
/LKPD_14/ProjectMobil/nbproject/private/
/LKPD_14/ProjectMobil/build/
/LKPD_14/Test/nbproject/private/
/LKPD_14/Test/build/
/LKPD_14/Test1/nbproject/private/
/LKPD_14/Test1/build/
/LKPD_14/A/nbproject/private/
/LKPD_14/A/build/
/LKPD_14/Test2/nbproject/private/
/LKPD_14/Test2/build/
/JavaApplication23/nbproject/private/
/JavaApplication23/build/
/ProjectPendataanKaryawan/nbproject/private/
/ProjectPendataanKaryawan/build/
/LKPD_11/SimpleArrayList/build/
/test/nbproject/private/
/test/build/
/ProjectPendataanKaryawan_1/nbproject/private/
/ProjectPendataanKaryawan_1/build/